body {
    margin: 5px;
    font-family: "Gill Sans MT";
    font-size: 18px;
    font-style:normal;
    background: #f8f9fa;
    width: 100%;
    height: 100vh;
    background-image: url(sunset-2560x1440-clear-sky-hd-5168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}

.flex{
display: flex;
justify-content: space-around;
align-items:center; 
}

.currentStateContainer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 30px;
    background:rgba(255, 255, 255, 0.4);
    box-shadow: -5px 5px 50px black;

}
.currentCity {
display: flex;
    justify-content: center;
    font-size: 30px;
    }

.flex>.icon>img{
    width: 75px;
}
.currentTemp {
font-size: 50px;
}
.currentDescription {
font-size: 30px;


}
.searchBar{
    margin-top: 20px;
   width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
input[type=search] {
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    height: 35px;
    width: 150px;
}
button{
    height: 35px;
}
.flexCityDegrees {
    display: flex;
    justify-content: space-around;
}
#unitSelection{
height: 35px;
width: 150px;
}

.allDay {
    display: flex;
/*    justify-content: space-around;*/
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    margin-top: 20px;
    width: 70%;
    height: 400px;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px black;
    border-radius: 30px 30px 0 0;
    box-shadow: -5px 5px 50px black;
}
.boxSun{
    width: 125px;
    height: 125px;
    background-image: url(sunlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}
.boxWind{
    width: 125px;
    height: 125px;
    background-image: url(windlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}
.boxRain{
    width: 125px;
    height: 125px;
    background-image: url(rainlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}
.boxSnow{
    width: 125px;
    height: 125px;
    background-image: url(snowlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
#message{
  text-align: center;
    
}

.textOfDay {
    
    margin: 10px;
    width: 100px;
    height: 25px;
    color: black;
    line-height: 25px;

}

.temperature {
    margin: 10px;
    height: 50px;
    line-height: 50px;

}

.timeStamp {
    margin: 10px;
    height: 50px;
    line-height: 50px;

}

.wind {
    margin: 10px;
    height: 50px;
    line-height: 50px;
}
.currentDay{
    text-align: center;
    border-right: solid 1px white;
}

.currentDay>.icon {
    width: 75px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
        
}
.currentDay>.icon>img{
    width: 75px;
} 

input[type=search] {
    border: 1px solid #ccc;
    
}

button > :hover {
    cursor: pointer;
}
.currentStateOfTemp {
    border: solid 1px red;
}
